<header class="py-5">
  <div class="container px-lg-5">
    <div class="row">
      <div class="col">
        <h3 class="fs-4 fw-bold"><span class="bg-light">管理者ログイン</span></h3>

        <table class="table table-borderless">
            <tr>
            <td>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email, "メールアドレス" %>
            </td>
            <td>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </td>
            </div>
            </tr>
            <tr>
            <td>
            <div class="field">
              <%= f.label :password, "パスワード" %>
            </td>
            <td>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </td>
            </div>
            <tr>
            <td></td>
            <td>
            <div class="actions">
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </div>
            </td>
          <% end %>
          
          <%= render "admin/shared/links" %>
      </div>
    </div>
  </div>
</header>
