<h1>注文履歴詳細</h1>
<table>
  <tr>
    <th>購入者</th>
    <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
  </tr>
  <tr>
    <th>注文日</th>
    <td><%= @order.created_at %></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td>
      〒<%= @order.postal_code %>
      <%= @order.address %>
      <%= @order.name %>
    </td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  <tr>
    <th>
      <%= form_with model: @order, url: admin_order_path(@order), method: :patch do |f| %>
      <%= f.select :status, [['入金待ち',"waiting_for_payment"],['入金確認',"payment_confirmation"], ['製作中',"production"], ['発送準備中',"shipping_preparation"],['発送済み',"shipped"]] %>
      <%= f.submit "更新" %>
      <% end %>
    </th>
  </tr>
</table>




