<header class="py-5">
  <div class="container px-lg-5">
    <div class="row">
      <div class="col">
        <h3 class="fs-4 fw-bold"><span class="bg-light">配送先編集</span></h3>
      </div>
    </div>
  </div>
</header>
<section class="pt-4">
    <div class="container px-lg-5">
      <div class="row">
        <div class="col">
          <%= form_with model: @address do |f| %>
          <table class="table table-sm table-borderless">
            <tr>
              <th>郵便番号(ハイフンなし)</th>
              <td><%= f.text_field :postal_code, autofocus: true %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= f.text_field :address, autofocus: true %></td>
            </tr>
            <tr>
              <th>宛名</th>
              <td><%= f.text_field :name, autofocus: true %></td>
              <td><%= f.submit "変更内容を保存", class: "btn btn-success" %></td>
            </tr>
          </table>

<% end %>
