<header class="py-5">
  <div class="container px-lg-5">
    <div class="row">
      <div class="col">
        <h3 class="fs-4 fw-bold"><span class="bg-light">商品一覧(全<%= @items_count.count %>件)</span></h3> 
      </div>
    </div>
  </div>
</header> 
<section class="pt-4">
    <div class="container px-lg-5">
      <div class="row">
          <div class="d-flex flex-wrap">
          <% @items.each do |item| %>
            <div class="col">
            <%= image_tag item.get_image(200,200) %><br>
            <%= link_to item.name, item_path(item.id) %><br>
            ￥<%= item.with_tax_price %>
            </div>
            <% end %>
          
            
          </div>
      
          
            
        </div>
      </div>
      </div>
      <ul class="pagination justify-content-center">
      <%= paginate @items %>
    </ul>
    </div>
</section>


